## Summarising, Aggregating, and Grouping data in Python Pandas - CM

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [2]:
os.chdir("/Users/cyrus/Documents/Personal/Advancement/Python/Data")
print os.getcwd(); # Prints the working directory

/Users/cyrus/Documents/Personal/Advancement/Python/Data

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

### How many rows the dataset

In [5]:
train['Id'].count()

1460

In [6]:
test['Id'].count()

1459

### What was the highest price

In [7]:
train['SalePrice'].max()

755000

In [8]:
train['SalePrice'].min()

34900

In [9]:
train['LotFrontage'].max()

313.0

In [10]:
train['LotFrontage'].min()

21.0

### How many entries are there for each condition

**Function**	**Description**
count	Number of non-null observations
sum	Sum of values
mean	Mean of values
mad	Mean absolute deviation
median	Arithmetic median of values
min	Minimum
max	Maximum
mode	Mode
abs	Absolute Value
prod	Product of values
std	Unbiased standard deviation
var	Unbiased variance
sem	Unbiased standard error of the mean
skew	Unbiased skewness (3rd moment)
kurt	Unbiased kurtosis (4th moment)
quantile	Sample quantile (value at %)
cumsum	Cumulative sum
cumprod	Cumulative product
cummax	Cumulative maximum
cummin	Cumulative minimum

In [14]:
train.sample(20)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1348,1349,20,RL,NaN,16196,Pave,NaN,IR3,Low,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,215000
394,395,50,RL,60.0,10134,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2007,WD,Normal,109000
1410,1411,60,RL,79.0,12420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,230000
597,598,120,RL,53.0,3922,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2007,New,Partial,194201
1358,1359,160,FV,NaN,2117,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,177500
249,250,50,RL,NaN,159000,Pave,NaN,IR2,Low,AllPub,...,0,NaN,NaN,Shed,500,6,2007,WD,Normal,277000
93,94,190,C (all),60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,133900
270,271,60,FV,84.0,10728,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,New,Partial,266000
903,904,20,RL,50.0,14859,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2006,New,Partial,240000
242,243,50,RM,63.0,5000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,79000
106,107,30,RM,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,Shed,450,8,2007,WD,Normal,100000
699,700,120,FV,59.0,4282,Pave,Pave,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,196000
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
1294,1295,20,RL,60.0,8172,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,115000
1437,1438,20,RL,96.0,12444,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2008,New,Partial,394617
248,249,60,RL,72.0,11317,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2007,WD,Normal,180000
1205,1206,20,RL,90.0,14684,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,271900
1226,1227,60,RL,86.0,14598,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,214000
1175,1176,50,RL,85.0,10678,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2007,WD,Normal,285000
1447,1448,60,RL,80.0,10000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2007,WD,Normal,240000

In [11]:
train['SaleCondition'].value_counts()

Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64

In [12]:
train['SaleType'].value_counts()

WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64

In [15]:
train['LotShape'].value_counts()

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

In [16]:
train['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [17]:
train['Street'].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64

In [18]:
train['MSZoning'].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

### Summarising Groups in the DataFrame

In [19]:
train.groupby(['MSZoning']).groups.keys()

['RL', 'RM', 'RH', 'C (all)', 'FV']

In [20]:
len(train.groupby(['MSZoning']).groups['RM'])

218

#### # Get the first entry for each category

In [21]:
train.groupby('MSZoning').first()

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),31,70,50.0,8500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,0,7,2008,WD,Normal,40000
FV,48,20,84.0,11096,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,NaN,GdWo,NaN,0,7,2007,WD,Normal,249700
RH,342,20,60.0,8400,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,9,2009,WD,Normal,82000
RL,1,60,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Ex,MnPrv,Shed,0,2,2008,WD,Normal,208500
RM,9,50,51.0,6120,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,0,4,2008,WD,Abnorml,129900

#### # Get the sum of the sale price per category

In [22]:
train.groupby('SaleCondition')['SalePrice'].sum()

SaleCondition
Abnorml     14799189
AdjLand       416500
Alloca       2008529
Family       2992000
Normal     209892259
Partial     34036469
Name: SalePrice, dtype: int64

In [23]:
train.groupby('SaleCondition')['SalePrice'].mean()

SaleCondition
Abnorml    146526.623762
AdjLand    104125.000000
Alloca     167377.416667
Family     149600.000000
Normal     175202.219533
Partial    272291.752000
Name: SalePrice, dtype: float64

### Group by more than 1 variables

In [25]:
train.groupby(['SaleCondition', 'Street'])['Alley'].count()

SaleCondition  Street
Abnorml        Pave      10
AdjLand        Pave       0
Alloca         Grvl       0
               Pave       0
Family         Pave       3
Normal         Grvl       0
               Pave      71
Partial        Pave       7
Name: Alley, dtype: int64

#### produces Pandas Series

In [26]:
train.groupby('SaleCondition')['SalePrice'].sum()

SaleCondition
Abnorml     14799189
AdjLand       416500
Alloca       2008529
Family       2992000
Normal     209892259
Partial     34036469
Name: SalePrice, dtype: int64

#### Produces Pandas DataFrame

In [27]:
train.groupby('SaleCondition')[['SalePrice']].sum()

               SalePrice
SaleCondition
Abnorml         14799189
AdjLand           416500
Alloca           2008529
Family           2992000
Normal         209892259
Partial         34036469

In [28]:
train.groupby('SaleCondition', as_index=False).agg({"SalePrice": "sum"})

  SaleCondition  SalePrice
0       Abnorml   14799189
1       AdjLand     416500
2        Alloca    2008529
3        Family    2992000
4        Normal  209892259
5       Partial   34036469